
<!--<!DOCTYPE html>-->
{% load staticfiles %}

<html>
<head>

	<title> Lawyers Office </title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lawyers_office.css' %}">
	<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>-->
	<style type="text/css">

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}



	</style>
</head>



<body>
<header>

	{% if user.is_authenticated %}
	<div class="jacobson-law-pa-logo">
		<img src="http://images.lawyers.com/LBM_Images/Offices/law-firm-jacobson-law-pa-photo-1596644.jpg" alt="Jacobson-law-pa logo">
		<!--<p>Jacobson Law P.A.</p>-->
	</div>
	<div class="vertical-line"></div>
	<div class="hello-user">Hello {{ user.username }} </div>

	<nav>
		<!--<ul>-->
			<!--<li><a href="">Tag Search</a></li>-->
			<!--<li><a href="">Text Search</a></li>-->
			<!--<li><a href="">Document Search</a></li>-->
		<!--</ul>-->
		<div id="Tag-Search"><a href="">Tag Search</a>
			<div id="tag-search-content">
				<p class="top-right-corner-title">Search & Create Comment</p>
				<ol id="tag-search-content-list">
					{% for select_box in tag_search_content_list %}
						<li>{{ select_box }}
							<select name='{{ select_box }}'>
								<option value="option1">option1</option>
								<option value="option2">option2</option>
							</select>
						</li>
						<br>

					{% endfor %}
				</ol>
			</div>
		</div>

		<div id="Text-Search"><a href="">Text Search</a>
			<div id="text-search-content">
				<form>
					<input type="radio" name="gender" value="male" checked> Male
					<input type="radio" name="gender" value="female"> Female
					<input type="radio" name="gender" value="other"> Other
				</form>
			</div>
		</div>
		<div id="Document-Search"><a href="">Document Search</a>
			<div>
				<p>document search</p>
			</div>
		</div>
	</nav>
	<form>
		<a href="https://www.google.co.il/"><input type="submit" value="search on google"/></a>
	</form>

	<div id="top-right-icons" class="image-links">
		<a href="{% url 'settings' %}" id="icon_settings">
			<img src="{% static 'images/icn_settings.png' %}" class="orig">
			<img src="{% static 'images/icn_settings_over.png' %}" class="over">
			<img src="{% static 'images/icn_settings_selected.png' %}" class="on">
		</a>
		<a href="{% url 'info' %}" id="icon_info">
			<img src="{% static 'images/icn_info.png' %}" class="orig">
			<img src="{% static 'images/icn_inf_over.png' %}" class="over">
			<img src="{% static 'images/icn_inf_selected.png' %}" class="on">
		</a>
		<a href="{% url 'logout' %}" id="icon_exit">
			<img src="{% static 'images/icn_exit.png' %}" class="orig">
			<img src="{% static 'images/icn_exit_over.png' %}" class="over">
			<img src="{% static 'images/icn_exit_selected.png' %}" class="on">
		</a>

	</div>
	<section id="case-options">

		<div id="left-case-options">
			<ul>
				{% for link in links %}
					{% if link.active %}
				<li> <a href="{% url 'get_left_top_nav_links' link.url %}" class = "active">{{ link.name }}</a> </li>
					{% else %}
				<li> <a href="{% url 'get_left_top_nav_links' link.url %}">{{ link.name }}</a> </li>
					{% endif %}
				{% endfor %}

			</ul>
		</div>
		<div id="right-case-options">
			<ul>
				<li><a href="">Open Case</a></li>
				<li><a class="new_case" href="{% url 'get_left_top_nav_links' 'new_case' %}">New Case
						<span class="new_case-speech-bubble">Please press to add case details</span>
					</a>
				</li>
				<li><a href="">More Options &#x25BE;</a>
					<ul>
						<li><a href=""></a>o1</li>
						<li><a href=""></a>o2</li>
					</ul>
				</li>
			</ul>
		</div>

		<img src="{% static 'images/line_instruction.png' %}"  class="border-line">

	</section>

	<section id="secondary-options">
		<div id="secondary-options-left-top-text"> Documents </div>
		<div id="secondary-top-right-icons" class="image-links">
			<a href="{% url 'upload_file' %}" id="icon_upload">
				<img src="{% static 'images/icn_upload.png' %}" class="orig">
				<img src="{% static 'images/icn_upload_over.png' %}" class="over">
				<img src="{% static 'images/icn_upload_on.png' %}" class="on">
			</a>
			<a href="{% url 'open_file' %}" id="icon_open">
				<img src="{% static 'images/icn_open.png' %}" class="orig">
				<img src="{% static 'images/icn_open_over.png' %}" class="over">
				<img src="{% static 'images/icn_open_on.png' %}" class="on">
			</a>
			<a href="{% url 'reclassify' %}" id="icon_reclassify">
				<img src="{% static 'images/icn_reclassify.png' %}" class="orig">
				<img src="{% static 'images/icn_reclassify_over.png' %}" class="over">
				<img src="{% static 'images/icn_reclassify_on.png' %}" class="on">
			</a>
			<a href="{% url 'save_file' %}" id="icon_save">
				<img src="{% static 'images/icn_save.png' %}" class="orig">
				<img src="{% static 'images/icn_save_over.png' %}" class="over">
				<img src="{% static 'images/icn_save_on.png' %}" class="on">
			</a>
			<a href="{% url 'delete_file' %}" id="icon_delete">
				<img src="{% static 'images/icn_delete.png' %}" class="orig">
				<img src="{% static 'images/icn_delete_over.png' %}" class="over">
				<img src="{% static 'images/icn_delete_on.png' %}" class="on">
			</a>
			<a href="{% url 'more_options' %}" id="icon_more">
				<img src="{% static 'images/icn_more.png' %}" class="orig">
				<img src="{% static 'images/icn_more_over.png' %}" class="over">
				<img src="{% static 'images/icn_more_on.png' %}" class="on">
			</a>

		</div>
	</section>
	{% endif %}
</header>
<div class="content">

	{% block content %}
	{% endblock %}
</div>
</body>

</html>
