
body{
    
}
.jacobson-law-pa-logo {
    display: inline-block;
    margin-left: 8px;
}

.jacobson-law-pa-logo > img{
    height: 43px;
    width: 40px;
    display: block;
    margin-left: 40px;
    margin-top: 7px;
}

.jacobson-law-pa-logo > p{
    font-size: 70%;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
}

.vertical-line{
    position: absolute;
    display: inline-block;
    left: 150px;
    top: 18px;
    height: 38px;
    border-left: 2px solid #111111;
}

.hello-user{
    position: absolute;
    left: 160px;
    top: 50px;
    color: #111111;
    font-family: "Open Sans";
    font-size: 12px;
}

nav{
    display: inline-block;    
}

nav > div{
    display: inline-block;
}

nav > div{
    position: absolute;
    top: 50px;
    display: inline-block;
}

nav a{
    color: #111111;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    text-decoration: none;
}

nav a:hover{
    color: #3753d8;
    text-decoration: none;
}

/*nav a:first-child{
    left: 454px;
}

nav a:nth-child(2){
    left: 627px;
}

nav a:last-child{
    left: 785px;
}*/

nav > div:first-child{
    left: 454px;
}

nav > div:nth-child(2){
    left: 627px;
}

nav > div:last-child{
    left: 785px;
}

nav div div{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

nav div:hover div{
    display: block;
}

header input{
    display: inline-block;
    position: absolute;
    left: 950px;
    top: 50px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    
    font-size: 13px;
    color: #CCC;
    background-color: white;
    padding: 0px 0px 0px 10px;
}

#top-right-icons{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 18px;    
}

#top-right-icons img{
    width: 20px;
    height: 20px;
}

#case-options{
    display: block;
    width: 100%;
    height: 75px;
    background: #ebebee;
    border-bottom: 3px solid #0197d6;
}

#left-case-options{
    display: inline-block;
    margin-left: 10px;
    margin-top: 28px;
    height: 44px;
}

#left-case-options > ul{
    display: inline-block;
    list-style: none;
}

#left-case-options > ul > li{
    display: inline-block;
}

#left-case-options a{
    display: inline-block;
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    background: #b9b9bb;
    width: 158px;
    height: 44px;
    text-align: center;
    padding-top: 13px;
    margin-left: -2px;
    text-decoration: none;
}

#left-case-options a.active{
    background: #0197d6;
}

#right-case-options{
    display: inline-block;
}

#right-case-options > ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

#right-case-options > ul > li{
    display: inline-block;
    position: absolute;
    top: 132px;
}

#right-case-options > ul > li:first-child{
    left: 1024px;
}

#right-case-options > ul > li:nth-child(2){
    left: 1134px;
}

#right-case-options > ul > li:nth-child(3){
    left: 1239px;
}

#right-case-options > ul > li > a{
    color: #111111;
    font-size: 12px;
    text-decoration: none;
}

#right-case-options > ul > li:hover{
    background: #63e5e7;
}

/*sub menus*/
#right-case-options li ul{
    position: absolute;
    display: none;
    width: inherit;
    background: #ebebee;
    /*background: #0197d6;*/
    min-width: 120px;
}

#right-case-options li:hover ul{
    display: block;
}

#right-case-options li li {
   display: block;
   margin-left: -46px;
   padding-left: 8px;
   text-align: left;
}


#right-case-options li li > a{
   padding-left: 3px;
}

#secondary-options{
    display: block;
    width: 100%;
    height: 50px;
}

#secondary-top-right-icons{
    position: absolute;
    display: inline-block;
    top: 185px;
    right: 3%;
}

#secondary-top-right-icons img{
    width: 25px;
    height: 25px;
}

.image-links a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.image-links img{
    display: inline-block;
}

.image-links img.over{
    display: none;
}

.image-links img.on{
    display: none;
}

.image-links a:hover img.orig{
    display: none;
}

.image-links a:hover img.over{
    display: inline-block;
}

.image-links a:focus img.orig{
    display: none;
}

.image-links a:focus img.over{
    display: none;
}

.image-links a:focus img.on{
    display: inline-block;
}